@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap") layer(base);
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap") layer(base);

@import "tailwindcss";
@import "tw-animate-css";

@import "../styles/base.css";
@import "../styles/theme.css";
@import "../styles/loader.css";
@import "../styles/typography.css";

:root {
  --header-height: 3rem;
  --radius: 0.75rem;
}

@theme inline {
  /* Typography */
  --font-number: "Lato", sans-serif;

  /* Border radius */
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: calc(var(--radius));
  --radius-xl: calc(var(--radius) + 0.25rem);

  /* Color system */
  --color-background: var(--background);
  --color-card: var(--card);
  --color-popover: var(--popover);

  --color-primary: var(--primary);
  --color-primary-muted: var(--primary-muted);
  --color-primary-weak: var(--primary-weak);
  --color-primary-strong: var(--primary-strong);
  --color-primary-intense: var(--primary-intense);
  --color-primary-bg-subtle: var(--primary-bg-subtle);
  --color-primary-border-subtle: var(--primary-border-subtle);

  --color-secondary: var(--secondary);
  --color-secondary-muted: var(--secondary-muted);
  --color-secondary-weak: var(--secondary-weak);
  --color-secondary-strong: var(--secondary-strong);
  --color-secondary-intense: var(--secondary-intense);
  --color-secondary-bg-subtle: var(--secondary-bg-subtle);
  --color-secondary-border-subtle: var(--secondary-border-subtle);

  --color-muted: var(--muted);
  --color-muted-muted: var(--muted-muted);
  --color-muted-weak: var(--muted-weak);
  --color-muted-strong: var(--muted-strong);
  --color-muted-intense: var(--muted-intense);
  --color-muted-bg-subtle: var(--muted-bg-subtle);
  --color-muted-border-subtle: var(--muted-border-subtle);

  --color-accent: var(--accent);
  --color-accent-muted: var(--accent-muted);
  --color-accent-weak: var(--accent-weak);
  --color-accent-strong: var(--accent-strong);
  --color-accent-intense: var(--accent-intense);
  --color-accent-bg-subtle: var(--accent-bg-subtle);
  --color-accent-border-subtle: var(--accent-border-subtle);

  --color-info: var(--info);
  --color-info-muted: var(--info-muted);
  --color-info-weak: var(--info-weak);
  --color-info-strong: var(--info-strong);
  --color-info-intense: var(--info-intense);
  --color-info-bg-subtle: var(--info-bg-subtle);
  --color-info-border-subtle: var(--info-border-subtle);

  --color-success: var(--success);
  --color-success-muted: var(--success-muted);
  --color-success-weak: var(--success-weak);
  --color-success-strong: var(--success-strong);
  --color-success-intense: var(--success-intense);
  --color-success-bg-subtle: var(--success-bg-subtle);
  --color-success-border-subtle: var(--success-border-subtle);

  --color-warning: var(--warning);
  --color-warning-muted: var(--warning-muted);
  --color-warning-weak: var(--warning-weak);
  --color-warning-strong: var(--warning-strong);
  --color-warning-intense: var(--warning-intense);
  --color-warning-bg-subtle: var(--warning-bg-subtle);
  --color-warning-border-subtle: var(--warning-border-subtle);

  --color-danger: var(--danger);
  --color-danger-muted: var(--danger-muted);
  --color-danger-weak: var(--danger-weak);
  --color-danger-strong: var(--danger-strong);
  --color-danger-intense: var(--danger-intense);
  --color-danger-bg-subtle: var(--danger-bg-subtle);
  --color-danger-border-subtle: var(--danger-border-subtle);

  --color-text-positive: var(--text-positive);
  --color-text-positive-muted: var(--text-positive-muted);
  --color-text-positive-weak: var(--text-positive-weak);
  --color-text-positive-strong: var(--text-positive-strong);
  --color-text-positive-intense: var(--text-positive-intense);

  --color-text-negative: var(--text-negative);
  --color-text-negative-muted: var(--text-negative-muted);
  --color-text-negative-weak: var(--text-negative-weak);
  --color-text-negative-strong: var(--text-negative-strong);
  --color-text-negative-intense: var(--text-negative-intense);

  --color-border: var(--border);
  --color-border-strong: var(--border-strong);
  --color-border-weak: var(--border-weak);
  --color-border-muted: var(--border-muted);
  --color-border-intense: var(--border-intense);
  --color-border-subtle: var(--border-subtle);
  --color-border-subtle-strong: var(--border-subtle-strong);
  --color-border-emphasis: var(--border-emphasis);

  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-muted: var(--sidebar-primary-muted);
  --color-sidebar-primary-weak: var(--sidebar-primary-weak);
  --color-sidebar-primary-strong: var(--sidebar-primary-strong);
  --color-sidebar-primary-intense: var(--sidebar-primary-intense);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Effects */
  --shadow-btn: var(--shadow-btn);
  --shadow-input: var(--shadow-input);
  --shadow-nav: var(--shadow-nav);
  --shadow-card: var(--shadow-card);
  --shadow-dropdown: var(--shadow-dropdown);
  --shadow-dialog: var(--shadow-dialog);

  /* Container queries */
  --container-8xl: 96rem; /* 1536px */
  --container-9xl: 128rem; /* 2048px */
  --container-10xl: 160rem;
}

@layer base {
  body {
    @apply text-text-positive;
  }

  @keyframes l5 {
    0% {
      box-shadow:
        10px 0 var(--primary),
        -10px 0 #0002;
      background: var(--primary);
    }
    33% {
      box-shadow:
        10px 0 var(--primary),
        -10px 0 #0002;
      background: #0002;
    }
    66% {
      box-shadow:
        10px 0 #0002,
        -10px 0 var(--primary);
      background: #0002;
    }
    100% {
      box-shadow:
        10px 0 #0002,
        -10px 0 var(--primary);
      background: var(--primary);
    }
  }

  @keyframes l15 {
    100% {
      transform: rotate(1turn);
    }
  }

  @keyframes l20-1 {
    0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }
    12.5% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }
    25% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
    62.5% {
      clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
    75% {
      clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }
    100% {
      clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
  }

  @keyframes l20-2 {
    0% {
      transform: scaleY(1) rotate(0deg);
    }
    49.99% {
      transform: scaleY(1) rotate(135deg);
    }
    50% {
      transform: scaleY(-1) rotate(0deg);
    }
    100% {
      transform: scaleY(-1) rotate(-135deg);
    }
  }
}
